.box {
  width: 200px;
  height: 200px;
  background-color: lightblue;
  border-radius: 10px;       
  margin: 50px;
  animation-name: rotateAndRound; 
  animation-duration: 4s;         
  animation-fill-mode:backwards; 
}
@keyframes rotateAndRound {
  from {
    border-radius: 10px;
    transform: rotate(0deg);
  }
  to {
    border-radius: 50%;
    transform: rotate(75deg);
  }
}