  body {
    font-family: Arial, sans-serif;
    background: #6cb781;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0; 
}
form {
    width: 400px; 
    margin: auto;
    background: #fff;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    flex-direction: column;
    gap: 10px;   
}
input:not([type="radio"]), textarea {
    display: block;
    width: 95%;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
 button {
    width: 100%;
    padding: 10px;
    background: #6cb781;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
} 
 button:hover {
    background:  #4dcd2d;
}  